<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com, <%= @name %></h1>
    <p>
      You have successfully booked your flight!
    </p>
    <p>
      Blah blah blah
    </p>
    <p>Have a great flight!</p>
  </body>
</html>
